@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins','Sans-serif';
}
header
{
    width: 100%;
    height: 100px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.nav
{ 
    padding: 20px;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
.nav a
{
    text-decoration: none;
}
.nav a button
{
    width: 90px;
    height: 40px;
    background-color: #6DD5Fa;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    cursor: pointer;
    transition: all .3s;
}
.nav a button:hover
{
    opacity: 0.82;
}
.box
{
    background: #fdfdfd;
    display: flex;
    flex-direction: column;
    padding: 25px 25px;
    border-radius: 25px;
    box-shadow: 0 0 125px 0 rgba(0, 0, 0, 0.1),0 32px 64px -48px rgba(0, 0, 0, 0.5);
}